body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 35px;
}

.h1-2 {
    color: rgb(245, 163, 10);
}

.h3-1 {
    font-size: 25px;
}

.positive {
    color: orangered;
}

.p-1 {
    text-align: justify;
    font-size: larger;
}

.flexibale {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 4%;
    padding-right: 3%;

}

.half-width img {
    width: 90%;
}

.linkdin {
    text-decoration: none;
    background-image: linear-gradient(#EC9F05, #FF4E00);
    padding: 10px 19px 10px 19px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.sec-1 {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.sec-2 {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.sec-3 {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.facebook {
    text-decoration: none;
    background-image: linear-gradient(#da1dba, #ba08f0);
    padding: 10px 19px 10px 19px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.ambition {
    color: #ba08f0;
}

.Developer {
    color: #650ff0;
}

.h3-2 {
    font-size: 25px;
}

.half-width-2 {
    width: 50%;
    padding-right: 6%;
}

.half-width-2 img {
    width: 90%;
}

.pro-biginer {
    color: #9616bd;
}

.exp {
    padding-left: 10px;
    font-size: 50px;
    color: #a1128a;
}

.exp-item {
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 1%;
    margin-right: 5%;
    border-radius: 10px;
    border-left: 7px solid #650ff0;
}

.exp-item-2 {
    width: 50%;
    padding-right: 3%;
    padding-left: 3%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 1%;
    margin-right: 5%;
    border-left: 7px solid #da1dba;
    border-radius: 10px;

}

.webdeveloper {
    color: #f08f11;
}

footer p {
    text-align: center;
    font-size: xx-large;
}