body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 35px;
}

.h1-2 {
    color: rgb(245, 163, 10);
}

.h3-1 {
    font-size: 25px;
}

.positive {
    color: orangered;
}

.p-1 {
    text-align: justify;
    font-size: larger;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 4%;
    padding-right: 3%;

}

.half-width img {
    width: 90%;
}

.linkdin {
    text-decoration: none;
    background-image: linear-gradient(#EC9F05, #FF4E00);
    padding: 10px 19px 10px 19px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.sec-1 {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.facebook {
    text-decoration: none;
    background-image: linear-gradient(#da1dba, #ba08f0);
    padding: 10px 19px 10px 19px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.ambition {
    color: #ba08f0;
}

.Developer {
    color: #650ff0;
}

.h3-2 {
    font-size: 25px;
}

.sec-2 {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width-2 {
    width: 50%;
    padding-right: 6%;
}

.half-width-2 img {
    width: 90%;
}